h2 { 
    font-size: 35px;
font-weight: 700;
color: white;
text-shadow: 1px 1px 6px black;

}


@media (max-width: 500px) {
    h2 {
        font-size: 25px;
    }

    p { 
        font-size: 15px;
    }
}